<mat-grid-list cols="4" rowHeight="80vh">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="sidebar">
      <h6>Filtrar:</h6>
      <app-team-sidebar (searchEvent)="OnSearchChangeTeam($event)"></app-team-sidebar>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="1">
    <div class="tabla-content">

      <div *ngIf="noTeamFound" class="no-team-found">
        <strong>No existe ningun equipo con este nombre!</strong>
      </div>
      <div *ngIf="!noTeamFound">
      <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="shield">
          <th mat-header-cell *matHeaderCellDef> Shield </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['equipo', element.basealias]">
              <img matListAvatar [src]="element | shieldImage" alt="Shield" class="team-shield">
            </a>
          </td>
        </ng-container>



        <ng-container matColumnDef="nameShow">
          <th mat-header-cell *matHeaderCellDef class="azul-titulo"><span class="ordenar" (click)="orderByName()">Name</span> </th>
          <td mat-cell *matCellDef="let element"> {{ element.nameShow }} </td>
        </ng-container>

        <ng-container matColumnDef="short_name">
          <th mat-header-cell *matHeaderCellDef class="azul-titulo">ShortName</th>
          <td mat-cell *matCellDef="let element"> {{ element.short_name }} </td>
        </ng-container>

        <ng-container matColumnDef="flag">
          <th mat-header-cell *matHeaderCellDef class="azul-titulo"> Flag </th>
          <td mat-cell *matCellDef="let element"> <img [src]="element.flag" alt="Flag" class="team-flag"> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <div *ngIf="!isLoading" class="loading-container">
        <img
          src="assets/imagenes/loader.svg"
          class="loader-image"
        />
      </div>

    </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
