table {
  width: 40px;
  background-color: rgba(249, 249, 249, 0.76);
}

.ordenar:hover{
  font-size: small;
  cursor: pointer;
  color: rgb(81, 110, 192);

}

.ordenar:active{
  font-size: 12px;
  color: rgb(143, 160, 204);

}

.team-shield {
  width: 40px;
  height: 40px;
  margin-top: px;
}

.team-flag {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}


.team-flag-container {
  flex: 1;
}

.azul-titulo {
  color: rgb(44, 86, 201);
}

.sidebar {
  width: 250px;
}


.tabla-content {
  width: 100%;
  height: 79vh;
  overflow-y: auto;
  border: 1px solid lightgrey !important;

}

.tabla{
  width: 100% !important;
  border-collapse: collapse !important;

}

::ng-deep thead {
  position: sticky !important;
  top: 0 !important;
  background: lavender !important;
  z-index: 1 !important;
}

::ng-deep .mat-grid-tile-content{
  align-items: start !important;
}

.mat-grid-tile{
  margin: 0 !important;
}

.name-container {
  display: flex;
  align-items: center;
}


.mat-cell {
  vertical-align: middle;
}

.mat-header-cell {
  vertical-align: middle;
}

