table {
  width: 40px;
  background-color: rgba(249, 249, 249, 0.76);
  border: 1px solid black !important;
}

.team-shield {
  width: 40px;
  height: 40px;
  margin-top: px;
}

.team-flag {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}


.team-flag-container {
  flex: 1;
}

.azul-titulo {
  color: rgb(44, 86, 201);
}

.sidebar {
  width: 250px;
}

table {
  border: 1px solid black !important;
}

.tabla-content {
  overflow-y: auto;
  max-height: 75vh;
  width: 100%;
}

::ng-deep .mat-grid-tile-content{
  align-items: start !important;
}

.mat-grid-tile{
  margin: 0 !important;
}

.name-container {
  display: flex;
  align-items: center;
}


.mat-cell {
  vertical-align: middle;
}

.mat-header-cell {
  vertical-align: middle;
}

