<p>
  <mat-form-field appearance="outline">
    <mat-label>Busqueda por nombre</mat-label>
    <input matInput placeholder="Busqueda por nombre" (input)="onSearchPlayer($event)">
  </mat-form-field>
</p>

<div class="scroll-container">
  <form [formGroup]="myForm">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Rating</mat-label>
        <input type="text" matInput [matAutocomplete]="ratingAuto" formControlName="rating">
        <mat-autocomplete #ratingAuto="matAutocomplete">
          <mat-option *ngFor="let rating of filteredRatings | async" [value]="rating">
            {{ rating }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="form-group">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input type="text" matInput [matAutocomplete]="countryAuto" formControlName="country">
        <mat-autocomplete #countryAuto="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            {{ country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>
